h6 {
    font-size: 12px;
}

.big-text {
    font-size: 1.5rem; 
}

.bought {
    color: forestgreen;
}

.nobought {
    color: firebrick;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background-gradient {
    background: linear-gradient(to left, #1c92d2, #dddddd);
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
