<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ECS 171 Group 11 Project Demo</title>
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <!-- CSS -->
  <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">
    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="display-3">Predictions from our models</h1>
        <p><a class="mt-5 btn btn-primary btn-lg" href="/" role="button">Make another prediction</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <h2>Sklearn MLP</h2>
          {% if predicted_sk_mlp[0] == 0%}
          <p class="mt-5 big-text nobought">Didn't buy</p>
          {% endif %}
          {% if predicted_sk_mlp[0] == 1%}
          <p class="mt-5 big-text bought">Bought!</p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>Keras Sequential Model</h2>
          {% if predicted_keras[0] == 0%}
          <p class="mt-5 big-text nobought">Didn't buy</p>
          {% endif %}
          {% if predicted_keras[0] == 1%}
          <p class="mt-5 big-text bought">Bought!</p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>Support Vector Machine</h2>
          {% if predicted_svm[0] == 0%}
          <p class="mt-5 big-text nobought">Didn't buy</p>
          {% endif %}
          {% if predicted_svm[0] == 1%}
          <p class="mt-5 big-text bought">Bought!</p>
          {% endif %}
        </div>
      </div>
      <hr>
    </div>
  </main>

  <footer class="container"></footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
